#imagem-saopaulo{
   width:100px;
   border: slid 3px rgb(0, 0, 0);
}

.principal{
   background-color : brown;
   color :rgb(255, 240, 241)
}
.rodape{
        background-color: brown;
        color: rgb(255, 0, 51);
        text-align: center;
}