 #link<{
   font: site 20px;
   color: red
   text-decoration:none;
 }
 #link:hover{d
     font-size: 25px;
     color:blak
   text-decoration:wavy;
}
 #imagem-saopaulo{
   width:100px;
   border: slid 3px rgb(0, 0, 0);
}

.principal{
   background-color : rgb(0, 0, 0);
   color :rgb(255, 240, 241)
}
.rodape{
        background-color: rgb(0, 0, 0);
        color: rgb(255, 0, 51);
        text-align: center;
}